.main-container {
    margin-top: 60px;
}

#sign-in {
    max-width: 400px;
    margin: 0 auto;
}

#logo-img {
    width: 54px;
}

.navbar-brand {
    padding-top: 0px;
}

select option {
    font-family: "Lucida Console", Monaco, monospace	;
}



@media (max-width: 767px) { 
    .navbar-brand {
        padding: 0;        
    }

    .navbar-brand img {
        margin-top: 5px;
        margin-left: 5px;
    }
    
}

.dl-horizontal-compact dd {
    margin-left: 60px;
}

.dl-horizontal-compact dt {
    float: left;
    width: 50px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
